

  @import url('https://fonts.googleapis.com/css2?family=Caveat&family=Lovers+Quarrel&family=Meie+Script&family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&family=Vujahday+Script&display=swap');


*{
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
      
}

:root{
    --font0-font-family: 'Lovers Quarrel', cursive;
    --font1-font-family: 'Noto Sans', sans-serif;
    --font2-font-family: 'Vujahday Script', cursive;
    --font3-font-family: 'Caveat', cursive;

    --color1-color: #efb810;
}

body{
    background-color: #f0ffff;
    position: relative;
  
}


header {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;

    
    --size: 10px;
    --p: 15px;
    --R: 25.3px /*sqrt(var(--size)*var(--size) + var(--p)*var(--p))*/;
    
    height:90px;
    width: 100%;
    
  
     -webkit-mask:
  
    radial-gradient(var(--R) at 50% calc(100% - (var(--size) + var(--p))),#f7535b 99%,#0000 30%) calc(35% - 2*var(--size)) 0/calc(4*var(--size)) 100%,
    radial-gradient(var(--R) at 50% calc(100% + var(--p)),#0000 99%,#ff73ec 101%) 50% calc(100% - var(--size))/calc(4*var(--size)) 100% repeat-x;
    background:linear-gradient(90deg,#f8a9f2,#ccf8f8);  
    z-index: 998;
    
    
}

.other-header{
    
    position: static;
}

header nav{
    display: flex;
    gap:500px;
    align-items: center;
    position: relative;   
}

header nav ul{
    display: flex;
    align-items: center;
    gap: 30px;
}

header nav ul li{
    width: 120px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

header nav ul li a{
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 1rem;
    text-transform: capitalize;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 800;
    font-family: var(--font2-font-family);
}

.gray li a{
    color: #ffffff;
}

.white li a{
    color: #ffffff;
}

.logo{
    z-index: 999;
    position: absolute; 
    height: 200px;
    width: 200px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-inline: auto;
    

}
.logo img{
    width: 100%;
}

header nav ul li a:hover{
    color: var(--color1-color);
}


.gray li a:hover{
    color: #a87b85;
}

.section-banner{
    height: 100vh;
    width: 100%;
    background-image: url("..//img/bolo_da_vovo.gif");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 2px 10px 3px #000000 !important;
    
}

.section-banner div{
    height: 100%;
    width: 100%;
    background-color: #0000005b;
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
}
.section-banner div h1{
    
    text-transform: capitalize;
    color: black;
    font-size: 8rem;
    font-family: var(--font0-font-family);
    font-weight: 500;
    color:var(--color1-color);
 
    
}

main{
    height: max-content;
    width: 90%;
    margin-inline: auto;
    z-index: 49;

    
   
    
}


.section-introduction h3, 
h3{
    text-align: center;
    font-size: 3rem;
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: var(--font3-font-family);
}

.bigBox{
    display: grid;
    height: max-content;
    width: 99%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    background-color: #f8ccf84f;
    border-radius: 10px;
   align-items: center;
   padding: 10px;
   margin-inline: auto;
   
    
  
}
.miniBox{
    height: 380px;
    
    background-color: #cc1f1f10;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    /* margin-inline: auto; */
  
    

    
}

.miniBox .products{
    margin-top: 10px;
    display: flex;
    margin-inline: auto;
    height: 300px;
    width: 90%;
    overflow: hidden;
    border-radius: 10px;
 
    background-color: #f8ccf84f;
    align-items: center;
    justify-content: center;    
    
}

.miniBox .products img{
    height: 100%;
    width: 99%;
    border-radius: 10px;
    box-shadow: 0px 7px 10px 3px #0000004b;


}

.miniBox .products img:hover{
  height: 310px;  
  transition: .3s;
}


.miniBox  div{
    /* background-color: #cc1f1f10 !important; */
    height: 40%;
    width: 90%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px 0;

}

.miniBox  div a{
    background-color: #ccf8f8;
    height: 25px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center; 
    border-radius: 7px;
    color: #000000;
    font-weight: 800;
}

.miniBox  div a:hover{
    background-color: #f8a9f2;
    border: solid 1px red ;
}


.section-history{
   
    height: max-content;
    width: 99%;
    margin-inline: auto;
    position: relative;
    background-image: url("/assets/img/nn.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
  
}



.boleira{
    height: 500px;
    width: 500px;
    display: flex; 
    justify-content: center;
    position: absolute;
    top: 100px;
    
    
   

}
.boleira img {

    height: 80%;
    margin-inline: auto;
  

 
}
.big-content{
    display: flex;
    z-index: 999; 
    height: max-content;
    width: 100%;
   
  
}

.big-content div{
    height: 100%;
    width: 35%;
 
}
.big-content .history{
   
    width:65%;
    height: 100%;
    margin-top: 80px;

    
}
.big-content .history p{
    line-height: 2rem;
    text-align: justify;
    letter-spacing: 2px;
    font-size: 1.5rem;
    font-family: var(--font3-font-family);
}




.section-diferences{
    height: max-content;
    width: 90%;
}



.box-diferences{
    height: 250px;
    width: 100%;
    display: flex; 
    justify-content: center;
    
    
}


.box-diferences ul{
    
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-inline: auto;
    gap: 1%;
    

    
    
    
}
.box-diferences ul li{
    width:300px;
    height: 60%;
    border-radius: 10px;    
    background-color: #ccf8f8;
    display: flex;
    gap: 10px;
    margin-inline: auto;


}
.img-diferences{
    
    width: 60%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    background-color: #fff6fcaf;
    border-radius: 10px;
    margin: 3%;
    padding: 3%;

}


.box-diferences ul li figure{
    
    
    height: 70%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8%;
    
}

.box-diferences ul li figure img{
    width: 70%;
}

.box-diferences ul li figcaption{
    width:100%;
    text-align: center;
    
    
}
.box-diferences ul li figcaption h4{
    font-family: var(--font3-font-family);
    font-size: 1.3rem;
}

.diferences{
    height: 89%;
    border-top-right-radius: 10px ;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8px;

}
.diferences p{
    margin-top:  10px;
    text-align: center;
}

.section-question{
    height: max-content;
    width: 100%;
    
    
}

.section-question .contentizao{
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 80px;
    
}

.section-question .contentizao .img-question{

    height: 450px;
    width: 30%;
}
.section-question .contentizao .img-question img{

width: 100%;
}



.box-question{
    width: 80%;
}


.ui-accordion{
    
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: solid 1px #ffc9fa !important;
    padding: 10px !important;
    
}

.ui-accordion-header-active{
    background-color: #d1ffff !important;
    border: #ffc9fa solid 3px !important;
    border-radius: 10px !important;
    color: #000000 !important;
    font-size: 1.5rem !important;
   
}

.ui-accordion-header-collapsed{
    background-color: #fce7f6 !important;
    border: #ccf8f8 solid 3px !important;
    border-radius: 10px !important;
    font-size: 1.3rem !important;
}

.ui-accordion-content{
   background-color: #ffffff !important;
    border: #ffc9fa solid 2px !important;
    border-radius: 10px !important;
}







footer{
    height: 300px;
    width: 100%;
    background-color: #ccf8f8;
    
}


.start{
    height: 85%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}

.start div{
    height: 80%;
    width: 90%;
    background-color: #ffe9fd;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px #ffc9fa;
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 50px;

  
    
}

.start div hr{
    height: 80%;
    width: 3px;
    background-color: #ccf8f8;
}
.start div ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.start div ul h4{
    font-size: 1.5rem;
    font-family: var(--font2-font-family);
    letter-spacing: .8rem;
    margin-top: 30px;
}

.start div ul li {
    
    height: 30px;
    width: 150px;
    display: flex;
    margin-left: 55px;
    
    
} 
.start div ul li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    letter-spacing: .1rem;
    font-family: var(--font3-font-family);
    color: #000000;
    

}

.start div ul li a:hover{
    background-color: #ccf8f8;
}



.start div ul li img{
    height: 20px;
    width: 20px;
}

.finish{
    height: 15%;
    width: 100%;
    background-color: #ffe9fd;
}

.start figure{
   
    height: 100px;
    width: 100px;
}

.start figure img{
 
    width: 100%;
}