

  @import url('https://fonts.googleapis.com/css2?family=Caveat&family=Lovers+Quarrel&family=Meie+Script&family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&family=Vujahday+Script&display=swap');


*{
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
      
}

:root{
    --font0-font-family: 'Lovers Quarrel', cursive;
    --font1-font-family: 'Noto Sans', sans-serif;
    --font2-font-family: 'Vujahday Script', cursive;
    --font3-font-family: 'Caveat', cursive;

    --color1-color: #efb810;
}

body{
    background-color: #f0ffff;

  
}
header{
    height:100px;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
   justify-content: space-between;
    transition: .3s;
    --size: 10px;
    --p: 15px;
    --R: 25.3px /*sqrt(var(--size)*var(--size) + var(--p)*var(--p));*/
    
    -webkit-mask:
  
    radial-gradient(var(--R) at 50% calc(100% - (var(--size) + var(--p))),#f7535b 99%,#0000 30%) calc(35% - 2*var(--size)) 0/calc(4*var(--size)) 100%,
    radial-gradient(var(--R) at 50% calc(100% + var(--p)),#0000 99%,#ff73ec 101%) 50% calc(100% - var(--size))/calc(4*var(--size)) 100% repeat-x;
    background:linear-gradient(90deg,#f8a9f2,rgb(157, 255, 255));  
}

header div img{
    width: 200px;
    margin-left: 50px;
    transition: .3s;
}

header nav{
    width: max-content;
    margin-right: 50px;
    display: flex;
    gap: 500px;
    margin-inline: auto;

}
header nav ul{
    display: flex;
    gap: 50px;
    align-items: center;
    transition: .3s;
    
   

}
header svg{
    fill: var(--secundary-bck-color);
    width: 50px;
    height: 50px;
    display: none;
  
  }

header nav ul li{

    height: 24px;    
    display: flex;
}

header nav ul li a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--background-color);
    font-weight: 600;
    white-space: nowrap;
    padding: 0 5px;
}

 

.logo{
    z-index: 999;
    position: fixed; 
    height: 150px;
    width: 200px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-inline: auto;
    transition: .3s;
   
    

}
.logo img{
    position: absolute;
    width: 80%;
    margin-inline: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    
}

header nav ul li a:hover{
    color: var(--color1-color);
}
.alterBody .logo {
    width: 150px;
}

.alterHeader{
    height: 70px;
    display: flex;
    flex-direction: row;
    z-index: 998;
  

}

/*SECTION BANNER*/

.section-banner{
    height: 100vh;
    width: 100%;
    background-image: url("..//img/bolo_da_vovo.gif");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 2px 10px 3px #000000 !important;
    
}

.section-banner div{
    height: 100%;
    width: 100%;
    background-color: #0000005b;
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
}
.section-banner div h1{
    
    text-transform: capitalize;
    color: black;
    font-size: 8rem;
    font-family: var(--font0-font-family);
    font-weight: 500;
    color:var(--color1-color);
 
    
}

main{
    height: max-content;
    width: 90%;
    margin-inline: auto;
    z-index: 49;

    
   
    
}


.section-introduction h3, 
h3{
    text-align: center;
    font-size: 3rem;
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: var(--font3-font-family);
}

.bigBox{
    display: grid;
    height: max-content;
    width: 99%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    background-color: #f8ccf84f;
    border-radius: 10px;
   align-items: center;
   padding: 10px;
   margin-inline: auto;
   
    
  
}
.miniBox{
    height: 380px;   
    background-color: #cc1f1f10;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    /* margin-inline: auto; */
  
    

    
}

.miniBox .products{
    margin-top: 10px;
    display: flex;
    margin-inline: auto;
    height: 300px;
    width: 96%;
    overflow: hidden;
    border-radius: 10px;
 
    background-color: #f8ccf84f;
    align-items: center;
    justify-content: center;  
      
    
}

.miniBox .products img{
    height: 92%;
    width: 92%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px rgba(251, 143, 255, 0.705);
    

}

.miniBox .products img:hover{
  height: 98%;
  width: 98%;  
  transition: .3s;
  
 

}


.miniBox  div{
    /* background-color: #cc1f1f10 !important; */
    height: 40%;
    width: 90%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px 0;

}

.miniBox  div a{
    background-color: #ccf8f8;
    height: 25px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center; 
    border-radius: 7px;
    color: #57565674;
    font-weight: 800;
}

.miniBox  div a:hover{
    color: #ffffff;
    background-color: #10efca2a;
    border: solid 1px #10efca2a ;
}


.section-history{
   
    height: max-content;
    width: 99%;
    margin-inline: auto;
    position: relative;
    background-image: url("/assets/img/nn.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
  
}



.boleira{
    height: 500px;
    width: 500px;
    display: flex; 
    justify-content: center;
    position: absolute;
    top: 100px;
    
    
   

}
.boleira img {

    height: 80%;
    margin-inline: auto;
  

 
}
.big-content{
    display: flex;
    z-index: 999; 
    height: max-content;
    width: 100%;
   
  
}

.big-content div{
    height: 100%;
    width: 35%;
 
}
.big-content .history{
   
    width:65%;
    height: 100%;
    margin-top: 80px;

    
}
.big-content .history p{
    line-height: 2rem;
    text-align: justify;
    letter-spacing: 2px;
    font-size: 1.5rem;
    font-family: var(--font3-font-family);
}




.section-diferences{
    height: max-content;
    width: 90%;
}



.box-diferences{
    height: 250px;
    width: 100%;
    display: flex; 
    justify-content: center;
    
    
}


.box-diferences ul{
    
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-inline: auto;
    gap: 1%;
    

    
    
    
}
.box-diferences ul li{
    width:300px;
    height: 60%;
    border-radius: 10px;    
    background-color: #ccf8f8;
    display: flex;
    gap: 10px;
    margin-inline: auto;


}
.img-diferences{
    
    width: 60%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    background-color: #fff6fcaf;
    border-radius: 10px;
    margin: 3%;
    padding: 3%;

}


.box-diferences ul li figure{
    
    
    height: 70%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8%;
    
}

.box-diferences ul li figure img{
    width: 70%;
}

.box-diferences ul li figcaption{
    width:100%;
    text-align: center;
    
    
}
.box-diferences ul li figcaption h4{
    font-family: var(--font3-font-family);
    font-size: 1.3rem;
}

.diferences{
    height: 89%;
    border-top-right-radius: 10px ;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8px;

}
.diferences p{
    margin-top:  10px;
    text-align: center;
}

.section-question{
    height: max-content;
    width: 100%;
    
    
}

.section-question .contentizao{
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 80px;
    
}

.section-question .contentizao .img-question{

    height: 450px;
    width: 30%;
}
.section-question .contentizao .img-question img{

width: 100%;
}



.box-question{
    width: 80%;
}


.ui-accordion{
    
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: solid 1px #ffc9fa !important;
    padding: 10px !important;
    
}

.ui-accordion-header-active{
    background-color: #d1ffff !important;
    border: #ffc9fa solid 3px !important;
    border-radius: 10px !important;
    color: #000000 !important;
    font-size: 1.5rem !important;
   
}

.ui-accordion-header-collapsed{
    background-color: #fce7f6 !important;
    border: #ccf8f8 solid 3px !important;
    border-radius: 10px !important;
    font-size: 1.3rem !important;
}

.ui-accordion-content{
   background-color: #ffffff !important;
    border: #ffc9fa solid 2px !important;
    border-radius: 10px !important;
}







footer{
    height: 300px;
    width: 100%;
    background-color: #ccf8f8;
    
}


.start{
    height: 85%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}

.start div{
    height: 80%;
    width: 90%;
    background-color: #ffe9fd;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px #ffc9fa;
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 50px;

  
    
}

.start div hr{
    height: 80%;
    width: 3px;
    background-color: #ccf8f8;
}
.start div ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.start div ul h4{
    font-size: 1.5rem;
    font-family: var(--font2-font-family);
    letter-spacing: .8rem;
    margin-top: 30px;
}

.start div ul li {
    
    height: 30px;
    width: 150px;
    display: flex;
    margin-left: 55px;
    
    
} 
.start div ul li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    letter-spacing: .1rem;
    font-family: var(--font3-font-family);
    color: #000000;
    

}

.start div ul li a:hover{
    background-color: #ccf8f8;
}



.start div ul li img{
    height: 20px;
    width: 20px;
}

.finish{
    height: 15%;
    width: 100%;
    background-color: #ffe9fd;
}

.start figure{
   
    height: 100px;
    width: 100px;
}

.start figure img{
 
    width: 100%;
}

/*AJUSTE PAG PRODUTOS*/


#kits{
    margin-top: 0%;
    margin-bottom: 3%;
    height: 250px;
    display: flex;
    align-items: end;
    justify-content: center;
}

.big-box-column{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* background: #a1fff9a5; */
   
}



.big-box-column .miniBox
{
    height: 500px;
    background: #ffaae378 ;
    padding: 5px;
}

.section-promotions{
    margin-bottom: 100px;
}

/*Responsividade*/



@media all and (max-width: 1030px){
    header{
        height: 70px;
    }
    header nav{

        gap: 250px;
    
    }
    .logo{
        height: 120px;
        width: 150px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin-inline: auto;
       
    }

    .logo img{
    width: 80%;

    }

    .alterBody .logo{

        width: 120px;

    }
    .alterHeader{
        height: 60px;
    }
    .alterHeader nav ul li a{
        font-size: .8rem;
    }


    .section-banner div h1{
        font-size: 5rem;
    }

    .section-introduction h3, 
h3{
    font-size: 2.5rem;
}

.miniBox {
    height: 300px;
}
.boleira{
height: 446px;
width: 301px;
/* display: flex; */
justify-content: center;
position: absolute;
top: 132px;

}
}


@media all and (max-width: 780px){

    header nav{

        gap: 220px;
}
    header nav ul{
        gap: 25px;
        padding: 10px 0 ;
}

    header nav ul li a{
        font-size: .8rem;
}
.section-introduction h3, 
h3{
    margin: 80px 0;
    font-size: 2.5rem;
}
    .bigBox{
        grid-template-columns: 1fr 1fr;
  
}
    .miniBox {
        height: 380px;

}
.boleira{
    display: none;
}
.big-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: auto;
}
.section-diferences{
 
    background-color: #000000;
}
.box-diferences{
    height: max-content !important;
}
.box-diferences ul{
    height: 100%;
    flex-direction: column;
    gap: 10px;
}
.box-question{
    width: 50%;
}

.section-question .contentizao .img-question {
    height: 236px;
    width: 35%;
}

footer{
    height: max-content;
    display: flex;
    flex-direction: column;
    height: max-content;
    gap: 50px;
}
.start {
    height: max-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.start div{
    gap: 0;
    flex-direction: column;
}
.start div ul{
    align-items: center;
    padding: 10px;
}
.start div hr{
    height: 3px;
    width: 90%;
}

.start div ul h4{
    margin-top: 15px;
}
.finish{
    height: 50px;
}
}







@media all and (max-width: 430px){

    header{
        height: 70px !important;
        background-color:#f5bf5b;    
        display: flex;
        justify-content: end;
        
        
    }
    header nav{
        margin-inline: 30px;
    }

 
   
    header ul{
        display: none !important;
    }

    header svg{
        display: flex !important;
        height: 35px;
        width: 35px;
       
    }




 header nav ul li{
        background: none;
        height: 30px !important;
        border-radius: 5px;   
       
      }
 

      header nav ul li a{
        width: 250px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        color: #b72e2e !important;
    }

        header ul li a p{
        color: #fff;
    }

        header ul li a hr{
            height: 1px;
            width: 100%;
            background: #ccf8f8;
        }

    .logo{
        
        width: 90px;
        margin: 0;

        
        
    }

    .display{
       
        position: absolute;
        background: #151515d5 !important;
        top: 70px;
        left: 0;
        width: 100% !important;
        height: 100vh !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: flex-start;
        align-items: center;
        padding-top: 8%; 
        animation: openMenu .5s;
        gap: 5%;
       
    }
    .aa{
        margin-top: 45%;
        background: none !important ;
    }


    @keyframes openMenu {
        0%{
          width: 3%;
          left: 50%;
          opacity: 0;
        }
    }


    .alterHeader nav ul li a{
        background: none;
    
    }
    .alterHeader nav ul li a hr{
        background-color: #d1ffff;
    }

    .alterHeader nav ul li a p{
        color: #efb810;
    }
    .alterBody .logo{
        width: 90px;
    }


    .section-banner div h1 {
        font-size: 4rem;
    }




    .bigBox{
        grid-template-columns: 1fr;
        width: 80%;
    }
    .big-content div{
        width: 100%;
        
    }
    
    .section-introduction h3,
    h3{
        margin-top: 30px;
        margin-bottom: 50px;
        white-space: nowrap;
        font-size: 2rem;
    }


    .big-content .history p{
        width: 100%;
        font-size: 1rem;
        line-height: 1.1rem;
    }
    .box-question{
        width: 100%;
    }
    .img-question{
        display: none;
    }

    
 
   
      
    } 
 

